<!DOCTYPE html>
<html>
	<header>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>Admin</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</header>
	
	<body>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#"><div><img src="<%= homepage[0].logo %>" style="width:100px"></div></a>
            
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="../../about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
            
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link active">Admin</a>
                </li>
            </ul>
        </nav>
		
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<a class="navbar-brand" href="#">Admin Pages</a>
		
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" href="/admin/admin-homepage">Homepage</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/admin/admin-about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/admin-products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/admin-contact">Contact Us</a>
                </li>
            </ul>
			
			<ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
		
		<div class="container-fluid" style="margin:2%">
			<% products.forEach(function(product){ %>
				<%- include('admin-product-listing', product); %>
			<% }); %>
			
			<div class="row">
				<button id="productCreateButton" class="btn btn-primary createProductButton" onclick="createNewProduct();">Create new product</button>
			</div>
		</div>
		<script src="../js/admin.js"></script>
	</body>
</html>