* {
	box-sizing: border-box;
}

body {
    margin: 0;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    background-color: brown;
    padding: 50px;
    width: 60px;
}