<footer class="footer">
	<nav class="navbar navbar-default navbar-custom">
		<div class="container-fluid">
			<div class="nav navbar-nav navbar-left">
				<ul class="footerleft">
					<li>
						<a href="/">Home</a>                   
					</li>
					<li>
						<a href="/about">About</a>                    
					</li>
					<li>
						<a href="/products">Products</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
					<li>
						<a href="/admin">Admin</a>
					</li>
				</ul>
			</div>

			<div class="text-center center-block" style="margin-right: 25px;">
				<a href=""><i id="social-fb" class="fab fa-facebook fa-3x social"></i></a>
				<a href=""><i id="social-tw" class="fab fa-twitter fa-3x social"></i></a>
				<a href=""><i id="social-gp" class="fab fa-google-plus fa-3x social"></i></a>
				<a href=""><i id="social-em" class="fa fa-envelope fa-3x social"></i></a>
			</div>

		</div>
		
	</nav>
</footer>